#success_message{ display: none;}

legend {
    font-size: 2.5em;
    text-align: center;
}

thead{
  background-color: #222;
  border-color: #080808;
  color: white;
}

table  tbody tr:hover{
  background-color: #E0E0E0;
}

table tbody tr input{
  width: 100%;
  background: #080808;
  color: white;
}
